/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.sprite {
    background-image: url(../imgfolder/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-btrix2 {
    width: 173px;
    height: 115px;
    background-position: -5px -5px;
}

.sprite-instagram {
    width: 64px;
    height: 64px;
    background-position: -188px -5px;
    margin-top: 2%;
}


body {
 height: 750vh; 
 display: flex;
 align-items: center;
 flex-direction: column;
 font-family: monospace;
 background-image: url(../imgfolder/bb0.jpg);

}
nav {
    height: 13vh;
    width: 100%;
    position: fixed;
    background-color: rgb(149, 69, 224);
    margin-top: 0%;
    display: flex;
    justify-content: center;
}


header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 18%;
    width: 100%;
}



#bintro{
    margin-top: 5%;
    height: 60%;
    width: 945px;
    background-size: contain;
    background-image: url(../imgfolder/bi.webp);
    background-repeat: no-repeat;
   
}
#intro{
    height: 42%;
    width: 1100px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
    
}
#rubrik {
    margin-left: 5%;
    font-size: xx-large;
}
#lol{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
#lol1 {
    height: 100%;
    width: 45%;
    margin-left: 5%;
    font-size: x-large;
}
#lol2 {
    height: 100%;
    width: 49%;
    margin-left: 5%;
    margin-right: 1%;
    font-size: x-large;
}









#fråga1{
    grid-area: ff;
    background-color: blueviolet;
    font-size: xx-large;
    display: flex;
    align-items: center;
}

#bild1{
    grid-area: bf;
    background-image: url(../imgfolder/b1.jpg);
    background-size: auto;
    
}

#svar11{
    grid-area: sff;
    background-color: antiquewhite;
    font-size: large;
    display: flex;
    align-items: center;
}

#svar12{
    grid-area: sfs;
    background-color: antiquewhite;
    font-size: large;
    display: flex;
    align-items: center;
}

#svar13{
    grid-area: sft;
    background-color: antiquewhite;
    font-size: large;
    display: flex;
    align-items: center;
}



#mel1{
    grid-area: mf;
    background-color: transparent;
}




#fråga2 {
    grid-area: fs;
    background-color: blueviolet;
    font-size: xx-large;
    display: flex;
    align-items: center;
}

#bild2 {
    grid-area: bs;
    background-image: url(../imgfolder/b2.jpg);
    background-size: auto;
}

#svar21 {
    grid-area: ssf;
    background-color: antiquewhite;
    font-size: large;
    display: flex;
    align-items: center;
}

#svar22 {
    grid-area: sss;
    background-color: antiquewhite;
    font-size: large;
    display: flex;
    align-items: center;
}

#svar23 {
    grid-area: sst;
    background-color: antiquewhite;
    font-size: large;
    display: flex;
    align-items: center;
}



#mel2{
    grid-area: ms;
     background-color: transparent;
}




#fråga3 {
    grid-area: ft;
    background-color: blueviolet;
    font-size: xx-large;
    display: flex;
    align-items: center;
}

#bild3 {
    grid-area: bt;
    background-image: url(../imgfolder/b3.jpg);
    background-size: auto;
}

#svar31 {
    grid-area: stf;
    background-color: antiquewhite;
    font-size: large;
    display: flex;
    align-items: center;
}

#svar32 {
    grid-area: sts;
    background-color: antiquewhite;
    font-size: large;
    display: flex;
    align-items: center;
}

#svar33 {
    grid-area: stt;
    background-color: antiquewhite;
    font-size: large;
    display: flex;
    align-items: center;
}

#mel3 {
    grid-area: mt;
    background-color: transparent;
}


#fråga4 {
    grid-area: ffo;
    background-color: blueviolet;
    font-size: xx-large;
    display: flex;
    align-items: center;
}

#bild4 {
    grid-area: bfo;
    background-image: url(../imgfolder/b4.jpg);
    background-size: auto;
}

#svar41 {
    grid-area: sfof;
    background-color: antiquewhite;
    font-size: large;
    display: flex;
    align-items: center;
}

#svar42 {
    grid-area: sfos;
    background-color: antiquewhite;
    font-size: large;
    display: flex;
    align-items: center;
}

#svar43 {
    grid-area: sfot;
    background-color: antiquewhite;
    font-size: large;
    display: flex;
    align-items: center;
}

#mel4 {
    grid-area: mfo;
    background-color: transparent;
}

#fråga5 {
    grid-area: ffe;
    background-color: blueviolet;
    font-size: xx-large;
    display: flex;
    align-items: center;
}

#bild5 {
    grid-area: bfe;
    background-image: url(../imgfolder/b5.jpg);
    background-size: auto;
}

#svar51 {
    grid-area: sfef;
    background-color: antiquewhite;
    font-size: large;
    display: flex;
    align-items: center;
}

#svar52 {
    grid-area: sfes;
    background-color: antiquewhite;
    font-size: large;
    display: flex;
    align-items: center;
}

#svar53 {
    grid-area: sfet;
    background-color: antiquewhite;
    font-size: large;
    display: flex;
    align-items: center;
}

main{
    height: 70%;
    width: 1038px;
   
}


footer {
    background-color: rgb(44, 18, 78);
    height: 12%;
    width: 1450px;
    display: flex;
    

   
}

#hold{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hold2{
   
    background-color: aliceblue;
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hold3{
    height: 17%;
    width: 20%;
    background-color: aliceblue;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#instatext{
    font-size: large;
}


#rrubrik{
    font-size: xx-large;
    color: aliceblue;
    
}


#svarbild{
    margin-top: 5%;
    background-image: url(../imgfolder/rtrix.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 650px;
    width: 650px;
   
    
}

#result1{
    font-size: x-large;
}
#result2 {
    font-size: x-large;
}
#result3 {
    font-size: x-large;
}
#result4 {
    font-size: x-large;
}
#result5 {
    font-size: x-large;
}


#wrapperMain {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2% 10% 2% 2% 2% 2% 2% 10% 2% 2% 2% 2% 2% 10% 2% 2% 2% 2% 2% 10% 2% 2% 2% 2% 2% 10% 2% 2% 2% 2% 2% 10% 2% 2% 2% 2%;
    grid-template-areas: 
        "ff ff ff ff ff ff"
        "bf bf bf bf bf bf"
        "sff sff sff sff sff sff"
        "sfs sfs sfs sfs sfs sfs"
        "sft sft sft sft sft sft"
        "mf mf mf mf mf mf"
        "fs fs fs fs fs fs"
        "bs bs bs bs bs bs"
        "ssf ssf ssf ssf ssf ssf"
        "sss sss sss sss sss sss"
        "sst sst sst sst sst sst"
        "ms ms ms ms ms ms"
        "ft ft ft ft ft ft"
        "bt bt bt bt bt bt"
        "stf stf stf stf stf stf"
        "sts sts sts sts sts sts"
        "stt stt stt stt stt stt"
        "mt mt mt mt mt mt"
        "ffo ffo ffo ffo ffo ffo"
        "bfo bfo bfo bfo bfo bfo"
        "sfof sfof sfof sfof sfof sfof"
        "sfos sfos sfos sfos sfos sfos"
        "sfot sfot sfot sfot sfot sfot"
        "mfo mfo mfo mfo mfo mfo"
        "ffe ffe ffe ffe ffe ffe"
        "bfe bfe bfe bfe bfe bfe"
        "sfef sfef sfef sfef sfef sfef"
        "sfes sfes sfes sfes sfes sfes"
        "sfet sfet sfet sfet sfet sfet"
        
}

@media screen and (max-width:1050px){
    
    #bintro{
        margin-top: 10%;
        width: 100%;
       height: 30%;
    }

    main{
        width: 100%;
        height: 60%;
    }

    #intro{
       width: 100%; 
       height: 55%;
    }
    #lol{
        flex-direction: column;
    }
    #lol1{
        height: 50%;
        width: 90%;
    }
    #lol2 {
        height: 50%;
        width: 90%;
    }

    footer{
        height: 22%;
        width: 100%;
        flex-direction: column;
    }

    #hold{
        width: 100%;
        height: 40%;
    }
    #hold2{
        height: 70%;
    }
    #hold3{
        width: 40%;
        height: 25%;
    }

    #svarbild{
        width: 100%;
    }

}